<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="DatabaseName" value="db.mdb"/>
		<add key="DataSourcePath" value=""/>
		<add key="NetworkSampleDataSourcePath" value="\\192.168.1.1\folderData\"/>
	</appSettings>
	<connectionStrings>
		<add name="Main" providerName="OLEDB.4.0" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}{1}"/>
	</connectionStrings>
</configuration>