<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="OphthalmologyMgmnt.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<system.diagnostics>
		<sources>
			<!-- This section defines the logging configuration for My.Application.Log -->
			<source name="DefaultSource" switchName="DefaultSwitch">
				<listeners>
					<add name="FileLog"/>
					<!-- Uncomment the below section to write to the Application Event Log -->
					<!--<add name="EventLog"/>-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="DefaultSwitch" value="Information"/>
		</switches>
		<sharedListeners>
			<add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
			<!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
			<!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
		</sharedListeners>
	</system.diagnostics>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
	</startup>
	<userSettings>
		<OphthalmologyMgmnt.My.MySettings>
			<setting name="SizeCustomer" serializeAs="String">
				<value>750, 649</value>
			</setting>
			<setting name="Fontsize" serializeAs="String">
				<value>Tahoma, 9pt</value>
			</setting>
			<setting name="ServerIp" serializeAs="String">
				<value/>
			</setting>
			<setting name="SystemStatus" serializeAs="String">
				<value>Client</value>
			</setting>
			<setting name="EditorSize" serializeAs="String">
				<value>846, 586</value>
			</setting>
			<setting name="CustomerVisitSize" serializeAs="String">
				<value>810, 517</value>
			</setting>
			<setting name="VisitListSize" serializeAs="String">
				<value>933, 558</value>
			</setting>
		</OphthalmologyMgmnt.My.MySettings>
	</userSettings>
	<appSettings>
		<add key="DatabaseName" value="db2.mdb"/>
		<add key="DataSourcePath" value=""/>
		<add key="NetworkSampleDataSourcePath" value="\\192.168.1.1\folderData\"/>
	</appSettings>
	<connectionStrings>
		<add name="Main" providerName="OLEDB.4.0" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}{1}"/>
	</connectionStrings>
</configuration>
